*{margin: 0; padding: 0; box-sizing: border-box;}
*::after{
  box-sizing: border-box;
}
*::before{
  box-sizing: border-box;
}
body{
  display:flex;
  flex-direction: column;
  height:100vh;
}
.code-wrapper,.preview-wrapper{
  height:50%;
  flex:1;
}
.code{
  overflow: hidden;
  height:100%;
  background: url(figure.jpg) no-repeat;
  color:white;
}
.text{
  position:fixed;
  top:100px;
  left: 50%;
  color:green;
  font-size: 16px;
  margin-left:-120px;
  display: none;
}
button{
  border:none;
  outline:none;
  background: #FF5A44;
  box-shadow: 0 2px 0 rgba(0,0,0,0.015);
  color:#fff;
}